@tailwind base;
@tailwind components;
@tailwind utilities;

*{
     scroll-behavior: smooth;
}

html{
     width: 100vw;
     height: 100vh;
}

.animationscroll::-webkit-scrollbar{
     overflow: hidden;
}
::-webkit-scrollbar{
     scrollbar-width: none;
}

.animationrotate:hover{
     animation: none;
     transition: all ease-in 0.7s;
}